<div class="light-info1-container">
  <img class="city-region1" src="/Rectangle 5.png" alt="city-region" />

  <div class="info1-block">
    <div class="info1-block__title">
      <h2>Київська область</h2>
    </div>
    <div class="info1-block__description">
      <div class="info1-block__description-left">
        <h3 class="common1">Забезпечення облаcтi</h3>
        <h3 class="common1">Потреби облаcтi</h3>
        <h3 class="not-common1">Кількість поточної <br />електроенергії</h3>
        <h3 class="common1">Недостача електроенергії</h3>
      </div>
      <div class="info1-block__description-right">
        <h3 class="common1">81%</h3>
        <h3 class="common1">6.700 МВт</h3>
        <h3 class="not-common1"><br />5.427 МВт</h3>
        <h3 class="common1">1.273 МВт</h3>
      </div>
    </div>
  </div>

  <img class="dynamic-lamp1" src="/Rectangle 8.png" alt="dynamic-lamp" />
</div>

<div class="light-info2-container">
  <img class="city-region2" src="/Rectangle 10.png" alt="city-region" />

  <div class="info2-block">
    <div class="info2-block__title">
      <h2>Одеська область</h2>
    </div>
    <div class="info2-block__description">
      <div class="info2-block__description-left">
        <h3 class="common2">Забезпечення облаcтi</h3>
        <h3 class="common2">Потреби облаcтi</h3>
        <h3 class="not-common2">Кількість поточної <br />електроенергії</h3>
        <h3 class="common2">Недостача електроенергії</h3>
      </div>
      <div class="info2-block__description-right">
        <h3 class="common2">74%</h3>
        <h3 class="common2">2.900 МВт</h3>
        <h3 class="not-common2"><br />2,146 МВт</h3>
        <h3 class="common2">0.764 МВт</h3>
      </div>
    </div>
  </div>

  <img class="dynamic-lamp2" src="/Rectangle 8.png" alt="dynamic-lamp" />
</div>

<div class="light-info3-container">
  <img class="city-region3" src="/Rectangle 11.png" alt="city-region" />

  <div class="info3-block">
    <div class="info3-block__title">
      <h2>Полтавська область</h2>
    </div>
    <div class="info3-block__description">
      <div class="info3-block__description-left">
        <h3 class="common3">Полтавська облаcтi</h3>
        <h3 class="common3">Потреби облаcтi</h3>
        <h3 class="not-common3">Кількість поточної <br />електроенергії</h3>
        <h3 class="common3">Недостача електроенергії</h3>
      </div>
      <div class="info3-block__description-right">
        <h3 class="common3">88%</h3>
        <h3 class="common3">1.800 МВт</h3>
        <h3 class="not-common3"><br />1.42584 МВт</h3>
        <h3 class="common3">0.216 МВт</h3>
      </div>
    </div>
  </div>

  <img class="dynamic-lamp3" src="/Rectangle 8.png" alt="dynamic-lamp" />
</div>
